.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -20px; /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 20px; /* gutter size */
  background-clip: padding-box;
}
.my-masonry-grid_column > div {
  /* change div to reference your elements you put in <Masonry> */
  margin-bottom: 30px;
}

.input-base {
  width: 600px;
}

.keepContainer {
  display: flex;
  flex-direction: column;
}

.keepMake {
  /* margin: auto; */
  margin: auto;
  align-items: center;
  padding: 10%;
}

.actionBar {
  display: flex;
  justify-content: flex-end;
}

@media screen and (max-width: 768px) {
  .input-base {
    width: 400px;
  }
}
